body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-btn{
    position: absolute;
    left: 40%;
    top: 50%;
    margin-top: 50px;
}

.login-btn{
    position: absolute;
    left: 60%;
    top: 50%;
    margin-top: 50px;
}