.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-fields{
    margin: 10px;
}

.input-field{
    width: 300px;
    height: 20px;
}

button{
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}